
{% extends  "bootstrap/base.html" %}



 {% block title %}

 Регистрация
{% endblock %}


  {% block styles %}
  {{ super() }}
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='contact/clean-blog.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='contact/jquery.formstyler.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='contact/style.css')}}" rel="stylesheet" type="text/css">

  {% endblock %}



    <!-- Navigation -->
    {% block content %}



    <div class="container">
      <div class="row">
          <div class="wrap_authorization authorization_mo">
    <h2>Авторизация</h2>
    <form  method="POST" action="/contact">
         {{ form.csrf_token}}
        {{ form.username.label }}{{ form.username }}
        {{ form.password.label }}{{ form.password }}
        <input type="submit" value="Войти" class="btn_red"/>
        
    </form>
</div>
      </div>
    </div>
    <hr>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </footer>


    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>




    <script src="{{url_for('static', filename='clean-blog.min.js')}}"></script>
            {{ super() }}

{% endblock %}